/* src/components/InteractiveMap.css */

/* Obal pro ikonku */
.custom-pin-wrapper {
    position: relative;
    width: 52px;
    height: 52px;
}

/* Tvar špendlíku */
.custom-pin {
    width: 36px;
    height: 36px;
    border-radius: 50% 50% 50% 0;
    background: #BB4430;
    position: absolute;
    transform: rotate(-45deg);
    left: 8px;
    top: 8px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    border: 2px solid white;
}

/* Středová tečka špendlíku */
.custom-pin::after {
    content: '';
    width: 12px;
    height: 12px;
    background: white;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-location-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
}

/* Modrá tečka aktuální polohy */
.user-location-dot {
    width: 22px;
    height: 22px;
    background-color: #009FB7;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

/* Pulzující kruh */
.user-location-pulse {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 159, 183, 0.4);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: gps-pulse 2s infinite ease-out;
}

/* Animace pulzování */
@keyframes gps-pulse {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

/* Vzhled názvu místa */
.custom-tooltip-label {
    background-color: rgba(255, 255, 255, 0.85);
    border: none;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: #333;
    font-size: 12px;
    padding: 2px 6px;
    white-space: nowrap;
}

/* Odstranění šipky u popisku */
.leaflet-tooltip.custom-tooltip-label::before {
    display: none;
}

/* Úprava mapových podkladů */
.leaflet-tile-pane {
    filter: grayscale(20%) contrast(1.1) brightness(1.05);
}

/* Tmavý režim mapy */
.dark-map-tiles {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}